.changePass .changePassImg {
    background-image: url("/images/man.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 150px;
}

.changePass label {
    color: rgb(73, 73, 73);
    padding: 0.25em 0.5em;
    border-left: 5px solid rgb(125, 180, 230);
}

.changePass .password-content {
    background-color: rgba(39, 158, 227, 0.125);
    padding: 20px;
}

.changePass .submitBtn {
    width: 300px;
    padding: 10px;
    border-radius: 90px;
    transition: opacity 0.5s;
    margin-top: 20px;
  }

.changePass .backBtn {
    width: 300px;
    padding: 10px;
    border-radius: 90px;
    transition: opacity 0.5s;
    margin-top: 10px;  
}

