.messageBox {
    overflow: hidden;
    display: flex;
    height: calc(100vh - 26px);
}
.users_chat {
    width: 30%;
    overflow: hidden;
    padding-right: 15px;
    background-color: #FFFFFF;
}
.users_chat:hover {
    overflow-y: scroll;
    padding-right: 5px;
}
.users_chat::-webkit-scrollbar {
    width: 10px;
}
.users_chat::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}
.users_chat::-webkit-scrollbar-thumb {
    background-color: gainsboro;
    border-radius: 5px;
}
.users_chat > .chatbox_for_every_user {
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    display: flex;
    display: table;
}
.users_chat > .chatbox_for_every_user:hover {
    background: #F4F7FC;
}
.chatbox_user_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.06);
    margin: 10px 0 10px 15px;
}
.user_icon {
    width: 100%;
    height: 100%;
}
.chatbox_detail {
    width: 90%;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #201301;
}
.chatbox_detail > .chatbox_user_name {
    font-weight: 600;
    font-size: 15px;
    display: block;
    margin: 5px 10px;
}
.users_chat > .chatbox_for_every_user > .chatbox_detail > .chatbox_user_msg {
    opacity: 0.5;
    display: block;
    margin: 5px 10px;
}
.users_chat > .chatbox_for_every_user > .chatbox_timestamp {
    width: 100%;
    height: 100%;
    transform: translate(0, -28px);
}
.users_chat > .chatbox_for_every_user > .chatbox_timestamp .time{
   transform: translate(0, 28px);
   display: block;
   color:#201301;
}

/* PERSONAL CHAT VIEW */
.chatbox {
    background-color: #E5E5E5;
    width: 70%;
    display: flex;
    flex-direction:column;
}

/* HEADER */
.chatbox_header {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 80px;
    display: flex;
    display: table;
}
.chatbox_header_user_name {
    font-size: 15px;
    font-weight: 400;
    margin: 15px 0 5px 10px;
}
.chatbox_detail > .chatbox_user_status {
    opacity: 0.5;
    margin-left: 10px;
}

/* EXCHANGE MESSAGE CONTAINER */
.chatbox_main {
    width: 100%;
    overflow: hidden;
    padding-right: 10px;
    display: flex;
    flex-flow: column;
}
.chatbox_main:hover {
    overflow-y: scroll;
    padding-right: 0%;
}
.chatbox_main::-webkit-scrollbar {
    width: 10px;
}
.chatbox_main::-webkit-scrollbar-track {
    background-color: #E5E5E5;
}
.chatbox_main::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 5px;
}
.chatbox_main > .msg_from_you {
    display: flex;
    flex-flow: column;
    margin-bottom: 10px;
}
.chatbox_main > .msg_from_you > .user_icon_for_msg {
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 10px;
    display: block;
}
.message {
    padding: 10px 15px;
    margin-bottom: 10px;
    max-width: 60%;
}
.you {
    color: #201301;
    background-color: #FFFFFF;
    border-radius: 0px 30px 30px 30px;
    margin-left: 15px;
    align-self: start;
}
.me {
    color: #FFFFFF;
    background-color: #F4920B;
    border-radius: 30px 0px 30px 30px;
    margin-right: 10px;
    align-self: end;
}

/* FOOTER */
.chatbox_footer {
    height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    display: flex;
}
.enter_message {
    border: none;
    width: 85%;
    height: 100%;
    resize: none;   
}
.chatbox_footer > .enter_message::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 17px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.chatbox_footer > .send_button {
    color: #FFFFFF;
    margin: auto;
    width: 77.82px;
    height: 30px;
    border: none;
    background-color: #F4920B;
    border-radius: 15px;
}
.chatbox_footer > .send_button:hover {
    background-color: #FAAC64;
}
