.sideBar a {
  text-decoration: none;
  color: #f3920b;
  font-size: 18px;
}
.sideBar {
  background-color: #f2e9dc;
  padding-right: 0;
}
.sideBarItem {
  padding: 1.2rem 1rem;
  color: #212529;
  text-decoration: none;
}
.sideBarItem.active {
  color: #fff;
  background-color: #f3920b;
}
