
 .forgotPasswordPage .submitBtn {
    background: #0b0bf3e9;
    color: #fff;
    width: 300px;
    padding: 10px;
    border-radius: 90px;
    transition: opacity 0.5s;
    margin-top: 20px;
  }

  .forgotPage {
    display: flex;
  }

  .content,.forgotImage {
    width: 50%;
  }

  .forgotImage {
    width: 600px;
    height: 600px;
    background-image: url("/images/forgot_woman.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 100px;
  }



